:root{
  --main-bg: linear-gradient(to top, rgb(255, 133, 62), rgb(255, 70, 70));
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px;
  background: var(--main-bg);
}

.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  text-shadow: -3px 3px rgb(255, 230, 0);

}

.leftcolumn {
  float: left;
  width: 98%;
}

.imain{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  float: left;
  width: 20rem;
  height: 20rem;
  margin-right: 1rem;
}

.i1{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  float: left;
  width: 20rem;
  height: 20rem;
  margin-right: 1rem;
}

.gerb{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20rem;
    float: right;
    width: 20rem;
    height: 20rem;
    margin-right: 1rem;
}

.i3{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20rem;
  float: right;
  width: 20rem;
  height: 20rem;
  margin-right: 1rem;
}

.i4{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20rem;
  float: right;
  width: 20rem;
  height: 20rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-right: 1rem;
}

.fakeimg {
  background-color: #aaa;
  padding-left: 20px;
  padding-right: 20px;
  height:200px;
}

.card {
  background-color: rgb(255, 255, 255);
  padding: 15px;
  margin-top: 20px;
  font-size: 40px;
  width: 100%;
}

.row{
  display: flex;
}

.logos{
  display: flex;

}

.inst-telegr{
  margin-left: auto;
  margin-right: auto;
  padding: 3rem;
}

a{
  text-decoration: none;
  color: blue;
  padding-left: 6rem;
}

.button-wrapper{
  display: flex;
  justify-content: center;
}

.button{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
  padding: 2rem 9rem;
  background-color: inherit;
  border: 1px solid red;
  border-radius: 8rem 8rem;
  cursor: pointer;
}


.button:hover{
  padding: 2rem 9rem;
  font-size: 40px;
  background: red;
  border: 1px solid rgb(195, 255, 0);
  box-shadow: 7px 8px 7px;
  
}

.footer {
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  font-size: 40px;
}